.RM-Hero {
  display: flex;
  padding: 6rem 0 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &-container {
    margin-top: auto;
    margin-bottom: auto;
  }

  &-title {
    margin: 0 0 1rem;
    font-size: 2.25rem;
    line-height: 1.17;
  }

  @include media-breakpoint-up(sm) {
    padding-top: $rm-topheadernav-height + 3rem;
    padding-bottom: 3rem;

    &-title {
      font-size: 3rem;
    }
  }

  @include media-breakpoint-up(lg) {
    align-items: center;
    min-height: to-rem(43px);

    &-container {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
