.btn-gradient-blue-green {
  @include button-gradient-variant(
    $color: $white,
    $color-hover: $white,
    $background-image: linear-gradient(256deg, $color-malachite, $color-dodger-blue),
    $background-image-hover: linear-gradient(185deg, $color-malachite, $color-dodger-blue)
  );
}

.btn-gradient-blue {
  @include button-gradient-variant(
    $color: $white,
    $color-hover: $white,
    $background-image: linear-gradient(84deg, $color-cornflower-blue, $color-dodger-blue),
    $background-image-hover: linear-gradient(0deg, $color-cornflower-blue, $color-dodger-blue)
  );
}

.btn-outline-white {
  @include button-outline-variant($white);

  &:hover {
    color: $color-cornflower-blue;
    background-color: $white;
  }
}
