*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--theme-base-text);
  font-size: 1rem;
  font-family: var(--font-family-sans-serif);
  line-height: 1.3333;
  -ms-overflow-style: scrollbar;
  font-feature-settings: "kern" 1, "liga" 1;
}
