%base-h {
  color: var(--theme-heading);
  font-weight: 600;
}

@each $h in (h1, h2, h3, h4, h5, h6) {
  #{$h}, .#{$h} { @extend %base-h; }
}

h1,
.h1 {
  font-size: 3.5rem;
  line-height: 1.33;
}

h2,
.h2 {
  font-size: to-rem(36px);
  line-height: 1.33;
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 1.33;
}

h4,
.h4 {
  font-size: to-rem(20px);
  line-height: 1.6;
}

b,
strong { font-weight: 600 }

p {
  margin: 0 0 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.text-support {
  color: --var(color-dark-gray);
  font-size: to-rem(14px);
  font-stretch: normal;
  line-height: 1.71;
}
