// Colors
// Base color names taken from http://www.color-blindness.com/color-name-hue/
$color-cherry-pie: #335;
$color-bay-of-many: #346;
$color-regal-blue: #246;
$color-dim-gray: #606060;
$color-dark-gray: #aaa;
$color-echo-blue: #abc;
$color-pattens-blue: #eff8fa;
$color-malachite: #11b844;
$color-medium-spring-green: #2e9;
$color-dask-pastel-green: #0b4;
$color-medium-sea-green: #4b8;
$color-dark-tangerine: #fdba22;
$color-dark-orange: #f80;
$color-sun: #f47628;
$color-international-orange: #f50;
$color-wild-rice: #dbe57b;
$color-new-midnight-blue: #0ac;
$color-dodger-blue: #08e;
$color-cornflower-blue: #07b;
$color-mountain-meadow: #0fa087;
$color-orient: #266471;
$color-summer-sky: #19a8d6;
$color-light-sea-green: #1eceb5;

$colors: (
  'cherry-pie': $color-cherry-pie,
  'bay-of-many': $color-bay-of-many,
  'regal-blue': $color-regal-blue,
  'dim-gray': $color-dim-gray,
  'dark-gray': $color-dark-gray,
  'echo-blue': $color-echo-blue,
  'pattens-blue': $color-pattens-blue,
  'medium-spring-green': $color-medium-spring-green,
  'dask-pastel-green': $color-dask-pastel-green,
  'medium-sea-green': $color-medium-sea-green,
  'dark-tangerine': $color-dark-tangerine,
  'dark-orange': $color-dark-orange,
  'sun': $color-sun,
  'international-orange': $color-international-orange,
  'wild-rice': $color-wild-rice,
  'new-midnight-blue': $color-new-midnight-blue,
  'dodger-blue': $color-dodger-blue,
  'cornflower-blue': $color-cornflower-blue,
  'mountain-meadow': $color-mountain-meadow,
  'orient': $color-orient,
  'summer-sky': $color-summer-sky,
  'light-sea-green': $color-light-sea-green
);

$primary: $color-cherry-pie !default;
$secondary: $color-medium-sea-green !default;
$success: $color-dask-pastel-green !default;
$warning: $color-dark-orange !default;
$danger: $color-international-orange !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'base-text': $color-dim-gray,
    'heading': $color-regal-blue,
    'tertiary': $color-new-midnight-blue,
    'aux01': $color-pattens-blue,
    'aux02': $color-wild-rice,
    'aux03': $color-dark-tangerine,
    'aux04': $color-sun
  ),
  $theme-colors
);

$spacers: () !default;
$spacers: map-merge(
  (
    6: 4rem,
    7: 6rem,
    8: 10rem,
    9: 15rem,
    10: 10rem
  ),
  $spacers
);

$body-color: $color-dim-gray;

$font-family-sans-serif: 'Open Sans', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Helvetica, Arial, sans-serif;
$font-weight-bold: 600;

$btn-border-radius: to-rem(5px);
$btn-padding-y: to-rem(12px);
$btn-padding-x: to-rem(12px);
$btn-line-height: 1.5;
