.RM-Box {
  padding: 1.5rem;
  overflow: hidden;
  background: var(--theme-primary);
  border-radius: to-rem(10px);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  $root: &;

  &__content {
    :last-child { margin-bottom: 0; }
  }

  &__footer {
    margin: 1.5rem (-1.5rem) (-1.5rem);
    padding: 0.5rem 1.5rem;
    background: var(--theme-primary);
  }

  &--outline {
    background: none;
    border: 2px solid var(--theme-primary);
    box-shadow: none;

    & #{$root}__content { margin: -2px; }
  }

  &--var1 {
    background: $white;
    border: solid 1px rgba(51, 51, 85, 0.1);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);

    & #{$root}__content {
      margin: -1px;
    }
  }

  &--bg-img {
    background-repeat: no-repeat;
    background-position: 109% -6%;
    background-size: auto 90px;

    @include media-breakpoint-up(lg) {
      background-position: 116% -26%;
      background-size: auto 125px;
    }
  }
}
